<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Travel App</title>
</head>

<!-- REMEMBER that the functions are in the 'Client' library. So, any javascript functions need to reference the Client library -->
<!-- example Client.function() -->

<body>
    <div class="grid-container">
        <header>
            <h1>Travel App</h1>
        </header>

        <div>
            <img class=img-1 id="destImage" src="" alt="Saltillo Mexico Sunrise">
        </div>
        <main class=main-container>
            <!--
            <form class="form" onsubmit="return Client.handleSubmit(event)">
                -->
            <form>
                <div class="form-input">
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" name="destination" />
                </div>
                <div class="form-input">
                    <label for="date">Departure Date:</label>
                    <input type="date" id="dateDeparture" name="date" />
                </div>
                <div class="form-input">
                    <label for="date">Return Date:</label>
                    <input type="date" id="dateReturn" name="date" />
                </div>
                <!--
                    <button onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Find Location</button>
                -->
                <button type="submit" id="submitTravel">Find Travel</button>
            </form>
            <div>
                <p id="results"></p>
            </div>
        </main>

        <menu>

        </menu>
        <footer>
            <!-- Add font awesome icons -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </footer>
    </div>

    <script>
        //Check that service workers are supported
        //if ("serviceWorker" in navigator) {
        //    // Use the window load event to keep the page load performant
        //    window.addEventListener("load", () => {
        //        navigator.serviceWorker.register("/service-worker.js");
        //    });
        //}
    </script>
</body>

</html>