<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Travel App</title>
</head>

<!-- REMEMBER that the functions are in the 'Client' library. So, any javascript functions need to reference the Client library -->
<!-- example Client.function() -->

<body>
    <div class="grid-container">
        <header>
            <h1>Travel App</h1>
        </header>

        <div>
            <img class=img-1 src="Saltillo Morning Sunrise.jpg" alt="Saltillo Mexico Sunrise" >
        </div>
        <main>
            <p>main now is the time for all good men to come to the add of their country...the big brow fox jumped over the old women main</p>
        </main>

        <menu>

        </menu>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
</body>

</html>